pkgbase = jumanji
	pkgdesc = A zathura-inspired markdown reader: minimal chrome, vim keybindings, real typography
	pkgver = 1.0.0
	pkgrel = 1
	url = https://github.com/membranepotential/jumanji
	arch = x86_64
	license = MIT
	makedepends = cargo
	depends = gtk4
	depends = webkitgtk-6.0
	optdepends = xdg-utils: register jumanji as the default handler for text/markdown
	source = jumanji-1.0.0.tar.gz::https://github.com/membranepotential/jumanji/archive/refs/tags/v1.0.0.tar.gz
	sha256sums = 146f0327b915870ba4a2b3ddc89c51d4aa4dd161525d80556bd785cb70789813

pkgname = jumanji
